@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

:root {
  --c_primary: #65c8fa;
  --c_secondary: #f7f7f7;
  --c_tertiary: #cecece;
  --c_text: #a3a3a3;

  --p_radius: 2rem
}

#root {
  display: flex;
  width: 50vw;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
}

/* Chat */
.chat {
  max-width: 420px;
  margin: 0 auto;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &-messages {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-bottom: 6rem;
    z-index: 1;

    > * + * {
      margin-top: 2.5rem;
    }
  }

  &-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_time {
      color: var(--c_tertiary);
      font-size: 1rem;
    }
    &_default {
      flex-direction: row-reverse;
    }
  }

  &-input {
    box-shadow: 0 4px 9px rgba(0,0,0,.08);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    transform: translate(50%);
    right: 50%;
    background: white;
    bottom: 1rem;
    position: absolute;
    width: 80%;
    input {
      padding: 1rem 1.5rem;
      flex: 1;
      -webkit-appearance: none;
      border: none;
    }
    button {
      border: none;
      background: none;
    }
  }

  &-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  &-bubble {
    padding: 1rem 1.5rem;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: enter;

    &_text {
      font-weight: 500;
    }
    &_user {
      align-self: flex-end;
      background-color: var(--c_primary);
      color: #fff;
      border-top-left-radius: var(--p_radius);
      border-bottom-left-radius: var(--p_radius);
      border-top-right-radius: var(--p_radius);
    }

    &_default {
      border-bottom-right-radius: var(--p_radius);
      border-bottom-left-radius: var(--p_radius);
      border-top-right-radius: var(--p_radius);
      align-self: flex-start;
      background-color: var(--c_secondary);
      color: var(--c_text);
    }
  }

}

/* Keyframes */
@-webkit-keyframes enter {
  from {
    opacity: 0;
    transform: translateY(1.5rem)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(1.5rem)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}